/* This will set the font size for all paragraphs in your HTML */

main { text-align: left; max-width: 600px; margin: 0 auto; padding: 20px; font-size: 20px; line-height: 1.5; 
}
  * {
    font-family: 'Times New Roman', Times, serif;
}

header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: px
}
h2{
    color: #006EB6;
    font-size:  16px;
}
h1{
    font-size: 40px;
}
img{
    margin: 0 auto;
    width: 150px;
    display: block;
}

.dark {
    background-color: #333;
    color: white;
}
.dark h2{
    color: rgb(160, 212, 237);
}